<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iStudy.springboot.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.iStudy.springboot.model.User">
    <id column="id" jdbcType="NUMERIC" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="NUMERIC" property="age" />
  </resultMap>
  
  <sql id="Base_Column_List" >
        id, name, pwd, sex, age
  </sql>
  
  <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
       FROM m_user
  </select>
  
   <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
       SELECT 
       		<include refid="Base_Column_List" />
       FROM m_user
       WHERE id = #{id}
   </select>
   
   <insert id="insertUser" parameterType="com.iStudy.springboot.model.User" >
       INSERT INTO 
               m_user
               (name,pwd,sex,age) 
           VALUES
               (#{name}, #{pwd}, #{sex},#{age})
    </insert>
    
    <update id="updateUser" parameterType="com.iStudy.springboot.model.User" >
       UPDATE 
            m_user
       SET 
           <if test="name != null">name = #{name},</if>
           <if test="pwd != null">pwd = #{pwd},</if>
           age = #{age}
       WHERE 
           id = #{id}
    </update>
    
    <delete id="deleteUser" parameterType="java.lang.Long" >
       DELETE FROM
            m_user 
       WHERE 
            id = #{id}
    </delete>

</mapper>